<%= flash[:notice] %>


<% @tweets.each do |t| %>

<p>
<%= t.message %>


<% if session[:login_uid] %>
     <%= link_to '削除',"/tweets/#{t.id}", method: :delete %>
     <% if t.likes.count == 0 %>
          <%= link_to "♡", likes_path(tweet_id: t.id),method: :post %>
     <% else %> 
          <%= link_to  "♥", like_path(t),method: :delete %>
          
     <% end %>
    
<% end %>

</p>

<% end %>

<p>
<% if session[:login_uid] %>
     <%= link_to "ツイート", new_tweet_path %>
<% end %>
</p>

<% if session[:login_uid] %>
     <%=link_to "ログアウト", top_logout_path %>
<% else %>
<p><%= link_to 'ログイン', top_main_path %></p>
<% end %>

<p><%= link_to 'ユーザ一覧' , users_path %></p>